<h2>Category</h2>
<div class="panel-group category-products" id="accordian">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../controllers/ChairController.php?cmd=10&category=2">
					Metal
				</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../controllers/ChairController.php?cmd=10&category=1">
					Wood
				</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../controllers/ChairController.php?cmd=10&category=3">
					Plastic
				</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../controllers/ChairController.php?cmd=10&category=4">
					Upholstered
				</a>
			</h4>
		</div>
	</div>
</div>