<h2>Actions</h2>
<div class="panel-group category-products" id="accordian">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../admincontrollers/AdminController.php?cmd=5">
					Manage Products
				</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="../admincontrollers/AdminController.php?cmd=3">
					Confirm Payments
				</a>
			</h4>
		</div>
	</div>
</div>